<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <header>
        <h1>Deixe seu Feedback</h1>
    </header>
    
    <main>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.rating.label }}<br>
                {{ form.rating() }}<br>
                {% for error in form.rating.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.comment.label }}<br>
                {{ form.comment() }}<br>
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
        <a href="{{ url_for('home') }}">Voltar à página inicial</a>
    </main>
</body>
</html>
